<?xml version="1.0"?>
<config>
    <modules>
        <MLogix_Wedding>
            <version>0.1.0</version>
        </MLogix_Wedding>
    </modules>
    <frontend>
        <routers>
            <wedding>
                <use>standard</use>
                <args>
                    <module>MLogix_Wedding</module>
                    <frontName>wedding</frontName>
                </args>
            </wedding>
        </routers>
        <layout>
            <updates>
                <wedding>
                    <file>wedding.xml</file>
                </wedding>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<wedding>
				<use>admin</use>
				<args>
					<module>MLogix_Wedding</module>
					<frontName>wedding</frontName>
				</args>
			</wedding>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<wedding module="wedding">
				<title>Wedding</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="wedding">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>wedding/adminhtml_wedding</action>
					</items>
				</children>
			</wedding>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<wedding>
							<title>Wedding Module</title>
							<sort_order>10</sort_order>
							<children>
								<items module="wedding">
									<title>Manage Items</title>
									<sort_order>0</sort_order>
									<action>wedding/adminhtml_wedding</action>
								</items>
							</children>							
						</wedding>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<wedding>
					<file>wedding.xml</file>
				</wedding>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <wedding>
                <class>MLogix_Wedding_Model</class>
                <resourceModel>wedding_mysql4</resourceModel>
            </wedding>
            <wedding_mysql4>
                <class>MLogix_Wedding_Model_Mysql4</class>
                <entities>
                    <wedding>
                        <table>wedding</table>
                    </wedding>
                </entities>
            </wedding_mysql4>
        </models>
        <resources>
            <wedding_setup>
                <setup>
                    <module>MLogix_Wedding</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wedding_setup>
            <wedding_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wedding_write>
            <wedding_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wedding_read>
        </resources>
        <blocks>
            <wedding>
                <class>MLogix_Wedding_Block</class>
            </wedding>
        </blocks>
        <helpers>
            <wedding>
                <class>MLogix_Wedding_Helper</class>
            </wedding>
        </helpers>
    </global>
</config>