<?xml version="1.0"?>
<config>
    <modules>
        <MLogix_Events>
            <version>0.1.0</version>
        </MLogix_Events>
    </modules>
    <frontend>
        <routers>
            <events>
                <use>standard</use>
                <args>
                    <module>MLogix_Events</module>
                    <frontName>events</frontName>
                </args>
            </events>
        </routers>
        <layout>
            <updates>
                <events>
                    <file>events.xml</file>
                </events>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<events>
				<use>admin</use>
				<args>
					<module>MLogix_Events</module>
					<frontName>events</frontName>
				</args>
			</events>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<events module="events">
				<title>Events</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="events">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>events/adminhtml_events</action>
					</items>
				</children>
			</events>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<events>
							<title>Events Module</title>
							<sort_order>10</sort_order>
							<children>
								<items module="events">
									<title>Manage Items</title>
									<sort_order>0</sort_order>
									<action>events/adminhtml_events</action>
								</items>
							</children>							
						</events>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<events>
					<file>events.xml</file>
				</events>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <events>
                <class>MLogix_Events_Model</class>
                <resourceModel>events_mysql4</resourceModel>
            </events>
            <events_mysql4>
                <class>MLogix_Events_Model_Mysql4</class>
                <entities>
                    <events>
                        <table>events</table>
                    </events>
                </entities>
            </events_mysql4>
        </models>
        <resources>
            <events_setup>
                <setup>
                    <module>MLogix_Events</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </events_setup>
            <events_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </events_write>
            <events_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </events_read>
        </resources>
        <blocks>
            <events>
                <class>MLogix_Events_Block</class>
            </events>
        </blocks>
        <helpers>
            <events>
                <class>MLogix_Events_Helper</class>
            </events>
        </helpers>
    </global>
</config>