<?xml version="1.0" encoding="utf-8"?>
<events>
	
	<event>
		<date>03-11-2008</date>
		<time>9:00 - 11:00 PST</time>
		<title>All Worlds Maintenance</title>
		<image>images/event4.jpg</image>
		<description><![CDATA[<font size="18">At the following time, we will be performing maintenance on all FINAL FANTASY XI worlds. During this period, FINAL FANTASY XI will be unavailable.

Thank you for your patience and understanding in this matter.

* This update consists of a version upgrade of the client program. When you press the play button after the time stated below, the version upgrade will begin automatically. Please follow the instructions on the screen.

* The World Transfer Service will be unavailable starting 30 minutes before the maintenance. Please wait until after the maintenance is completed before attempting to use this service.

[Date & Time]
Nov. 3, 2008 from 9:00 to 11:00 (PST)
* Maintenance completion time may be subject to change.

[Affected Services]
FINAL FANTASY XI

[Maintenance Details]
- A part of the internal specification will be changed.

*This version update will not affect the current functions of the game.</font>]]></description>
		<link><![CDATA[]]></link>
    </event>
	<event>
		<date>11-10-2010</date>
		<time></time>
		<title>Birthday</title>
		<image></image>
		<description><![CDATA[<font size="18">Nov 11, 2008 - DarkSecrets will meet in Selbina @ 5pm pst.</font>]]></description>
		<link><![CDATA[]]></link>
    </event>
	<event>
		<date>11-10-2010</date>
		<time>5:00pm pst</time>
		<title>LS PayDay</title>
		<image></image>
		<description><![CDATA[<font size="18">Nov 22, 2008 - DarkSecrets will meet in Selbina @ 5pm pst.</font>]]></description>
		<link><![CDATA[]]></link>
    </event>
		<event>
		<date>03-12-2008</date>
		<time>5:00pm pst</time>
		<title>PayDay</title>
		<image>images/event1.jpg</image>
		<description><![CDATA[<font size="18">December 3, 2008 - DarkSecrets will be having Dynamis Jeuno @ 4pm pst.</font>]]></description>
		<link><![CDATA[]]></link>
    </event>
	<event>
		<date>10-12-2008</date>
		<time>4:00pm pst</time>
		<title>Dynamis</title>
		<image>images/event2.jpg</image>
		<description><![CDATA[<font size="18">December 10, 2008 - DarkSecrets will be having Dynamis San d'Oria @ 4pm pst.</font>]]></description>
		<link><![CDATA[]]></link>
    </event>
	<event>
		<date>07-12-2008</date>
		<time>5:00 pst</time>
		<title>Dynamis</title>
		<image>images/event2.jpg</image>
		<description><![CDATA[<font size="18">December 7, 2008 - DarkSecrets will be having Dynamis San d'Oria @ 5pm pst.</font>]]></description>
		<link><![CDATA[]]></link>
    </event>
		<event>
		<date>14-12-2008</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event1.jpg</image>
		<description><![CDATA[<font size="18">December 14, 2008 - DarkSecrets will be having Dynamis Jeuno @ 6pm pst.</font>]]></description>
		<link><![CDATA[]]></link>
    </event>
		<event>
		<date>17-12-2008</date>
		<time>6:00pm pst</time>
		<title>Dynamis</title>
		<image>images/event3.jpg</image>
		<description><![CDATA[<font size="18">December 17, 2008 - DarkSecrets will be having Dynamis Bastok @ 6pm pst.</font>]]></description>
		<link><![CDATA[]]></link>
    </event>
	<event>
		<date>21-12-2008</date>
		<time>6:00pm pst</time>
		<title>Dynamis</title>
		<image>images/event1.jpg</image>
		<description><![CDATA[<font size="18">December 17, 2008 - DarkSecrets will be having Dynamis Jeuno @ 6pm pst.</font>]]></description>
		<link><![CDATA[]]></link>
    </event>
		<event>
		<date>23-12-2008</date>
		<time></time>
		<title>Birthday</title>
		<image>images/event5.jpg</image>
		<description><![CDATA[<font size="18">December 23, 2008 - Congratulations! Kaelyn Birthday.</font>]]></description>
		<link><![CDATA[]]></link>
    </event>
		<event>
		<date>31-12-2008</date>
		<time></time>
		<title>Birthday</title>
		<image>images/event6.jpg</image>
		<description><![CDATA[<font size="18">December 31, 2008 - Congratulations! Zorro Birthday.</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
		<event>
		<date>04-01-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image></image>
		<description><![CDATA[<font size="18">January 04, 2009 - DarkSecrets will be having Dynamis Windy @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
	<event>
		<date>07-01-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event2.jpg</image>
		<description><![CDATA[<font size="18">January 07, 2009 - DarkSecrets will be having Dynamis San d'Oria @ 6pm pst .</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
	<event>
		<date>11-01-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event3.jpg</image>
		<description><![CDATA[<font size="18">January 11, 2009 - DarkSecrets will be having Dynamis Bastok @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
	<event>
		<date>14-01-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event3.jpg</image>
		<description><![CDATA[<font size="18">January 14, 2009 - DarkSecrets will be having Dynamis Bastok @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
		<event>
		<date>18-01-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event2.jpg</image>
		<description><![CDATA[<font size="18">January 18, 2009 - DarkSecrets will be having Dynamis San d'Oria @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
		<event>
		<date>21-01-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event3.jpg</image>
		<description><![CDATA[<font size="18">January 21, 2009 - DarkSecrets will be having Dynamis Bastok @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
		<event>
		<date>25-01-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image></image>
		<description><![CDATA[<font size="18">January 25, 2009 - DarkSecrets will be having Dynamis Windy @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
		<event>
		<date>28-01-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event2.jpg</image>
		<description><![CDATA[<font size="18">January 28, 2009 - DarkSecrets will be having Dynamis San d'Oria @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
		<event>
		<date>30-01-2009</date>
		<time>6pm pst</time>
		<title>Einherjar</title>
		<image>images/event8.jpg</image>
		<description><![CDATA[<font size="18">January 30, 2009 - DarkSecrets will be having Einherjar @ 6pm pst More info coming soon!!!</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
	<event>
		<date>01-02-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event3.jpg</image>
		<description><![CDATA[<font size="18">Febuary 01, 2009 - DarkSecrets will be having Dynamis Bastok @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
	<event>
		<date>01-02-2009</date>
		<time></time>
		<title>B-Day</title>
		<image></image>
		<description><![CDATA[<font size="18">Febuary 01, 2009 - DarkSecrets Member Tuyet's Birthday!!! Yay Me!!!</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
	<event>
		<date>03-02-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image></image>
		<description><![CDATA[<font size="18">Febuary 03, 2009 - Congratulations! Malevolgia Birthday.</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
		<event>
		<date>04-02-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event2.jpg</image>
		<description><![CDATA[<font size="18">Febuary 04, 2009 - DarkSecrets will be having Dynamis San d'Oria @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
	<event>
		<date>08-02-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event1.jpg</image>
		<description><![CDATA[<font size="18">Febuary 08, 2009 - DarkSecrets will be having Dynamis Jeuno @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
	<event>
		<date>11-02-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event3.jpg</image>
		<description><![CDATA[<font size="18">Febuary 11, 2009 - DarkSecrets will be having Dynamis Bastok @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
	<event>
		<date>15-02-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event3.jpg</image>
		<description><![CDATA[<font size="18">Febuary 15, 2009 - DarkSecrets will be having Dynamis Bastok @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
	<event>
		<date>18-02-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event2.jpg</image>
		<description><![CDATA[<font size="18">Febuary 18, 2009 - DarkSecrets will be having Dynamis San d'Oria @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
	<event>
		<date>22-02-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image>images/event1.jpg</image>
		<description><![CDATA[<font size="18">Febuary 22, 2009 - DarkSecrets will be having Dynamis Jeuno @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
	<event>
		<date>25-02-2009</date>
		<time>6pm pst</time>
		<title>Dynamis</title>
		<image></image>
		<description><![CDATA[<font size="18">Febuary 25, 2009 - DarkSecrets will be having Dynamis Windy @ 6pm pst</font>]]></description>
		<link><![CDATA[]]></link>
	</event>
</events>

