<?xml version="1.0"?>
<config>
	<modules>
		<AuIt_Editor>
			<version>1.3.7</version>
		</AuIt_Editor>
	</modules>
    <frontend>
        <layout>
            <updates>
                <auit_editor>
                    <file>auit_editor.xml</file>
                </auit_editor>
            </updates>
        </layout>
	</frontend>	
	<admin>
		<routers>
			<auit_editor>
				<use>admin</use>
				<args>
					<module>AuIt_Editor</module>
					<frontName>auit_editor</frontName>
				</args>
			</auit_editor>
        </routers>
    </admin>	
    <adminhtml>
        <menu>
            <cms>
				<children>
					<auit_editor module="auit_editor">
						<title>SNM Content-Editor</title>
						<sort_order>100</sort_order>
						<action>auit_editor/admin_editor</action>
					</auit_editor>
				</children>
            </cms>
        </menu>
		<translate>
            <modules>
                <AuIt_Editor>
                    <files>
                        <default>AuIt_Editor.csv</default>
                    </files>
                </AuIt_Editor>
            </modules>
        </translate>    
		<acl>
			<resources>
				<admin>
					<children>
	                    <cms >
	                        <children>
	                            <auit_editor >
	                                <title>SNM Content-Editor</title>
	                                <sort_order>100</sort_order>
	                            </auit_editor>
	                        </children>
	                    </cms>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <auit_editor>
                                            <title>AuIt Editor Section</title>
                                        </auit_editor>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	
	<global>
        <blocks>
            <auit_editor>
                <class>AuIt_Editor_Block</class>
            </auit_editor>
        </blocks>
	
		<helpers>
			<auit_editor>
				<class>AuIt_Editor_Helper</class>
			</auit_editor>
		</helpers>
		
		<models>
			<auit_editor>
				<class>AuIt_Editor_Model</class>
			</auit_editor>
			<!--  
			<cms_mysql4>
			    <rewrite>
			        <page>AuIt_Editor_Model_Rewrite_Cms_Mysql4_Page</page>
			    </rewrite>
			</cms_mysql4>
			-->
			<blog_mysql4>
			    <rewrite>
			        <blog_collection>AuIt_Editor_Model_Rewrite_AW_Blog_Model_Mysql4_Blog_Collection</blog_collection>
			    </rewrite>
			</blog_mysql4>
			<blog>
			    <rewrite>
			        <post>AuIt_Editor_Model_Rewrite_AW_Blog_Model_Post</post>
			    </rewrite>
			</blog>
			<blog>
			    <rewrite>
			        <blog>AuIt_Editor_Model_Rewrite_AW_Blog_Model_Blog</blog>
			    </rewrite>
			</blog>
			<blog>
			    <rewrite>
			        <cat>AuIt_Editor_Model_Rewrite_AW_Blog_Model_Cat</cat>
			    </rewrite>
			</blog>
			
		</models>

		<events>
			<catalog_product_save_before>
                <observers><auit_editor_observer><type>singleton</type><class>auit_editor/observer</class><method>modelProductSaveBefore</method></auit_editor_observer></observers>
			</catalog_product_save_before>
			<!-- 		
			<catalog_product_load_after>
                <observers><auit_editor_observer><type>singleton</type><class>auit_editor/observer</class><method>modelProductLoad</method></auit_editor_observer></observers>
			</catalog_product_load_after>
			<catalog_category_load_after>
                <observers><auit_editor_observer><type>singleton</type><class>auit_editor/observer</class><method>modelCategoryLoad</method></auit_editor_observer></observers>
			</catalog_category_load_after>
			<cms_block_load_after>
                <observers><auit_editor_observer><type>singleton</type><class>auit_editor/observer</class><method>modelCmsBlockLoad</method></auit_editor_observer></observers>
			</cms_block_load_after>
             -->
            <model_load_after>
                <observers><auit_editor_observer><type>singleton</type><class>auit_editor/observer</class><method>modelLoad</method></auit_editor_observer></observers>
            </model_load_after>
            <controller_action_layout_generate_blocks_after>
                <observers><auit_editor_observer><type>singleton</type><class>auit_editor/observer</class><method>blocksAfter</method></auit_editor_observer></observers>
            </controller_action_layout_generate_blocks_after>
            <catalog_helper_output_construct>
                <observers>
                    <auit_editor_observer>
                        <class>auit_editor/observer</class>
                        <method>assignHandlers</method>
                    </auit_editor_observer>
                </observers>
            </catalog_helper_output_construct>
		</events>        
        <resources>
            <auit_editor_setup>
                <setup>
                    <module>AuIt_Editor</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </auit_editor_setup>
            <auit_editor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </auit_editor_write>
            <auit_editor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </auit_editor_read>
        </resources>        
	</global>
    <default>
    	<auit_editor>
    		<editor>
    			<enabled>1</enabled>
    			<license>0000-0000-0000-0000</license>
    			<auto_resize>1</auto_resize>
    			<replacenl>0</replacenl>
    		</editor>
    		<attributes>
    			<product_attributes></product_attributes>
    			<catalog_attributes></catalog_attributes>
    		</attributes>
    		<templates>
    			<html></html>
    		</templates>
    		<wysiwyg>
	    		<preview_root>content/images/AdminHTML/Preview</preview_root>
				<category_root>catalog/category</category_root>
				<upload_root>content/images</upload_root>
                <browser_allowed_extensions>jpg,jpeg,png,gif</browser_allowed_extensions>
                <browser_image_allowed_extensions>jpg,jpeg,png,gif</browser_image_allowed_extensions>
                <browser_media_allowed_extensions>flv,swf,avi,mov,rm,wmv</browser_media_allowed_extensions>
                <browser_window_width>1000</browser_window_width>
                <browser_window_height>800</browser_window_height>
                <browser_resize_width>90</browser_resize_width>
                <browser_resize_height>90</browser_resize_height>
			</wysiwyg>
		</auit_editor>
	</default>
</config>